/**************
 * List boxes *
 **************/
EggListBox {
    background-color: @base_color;
}	

EggListBox:hover {
    background-color: @base_color;
}

EggListBox:selected {
    color: @theme_selected_bg_color;
}

.list {
    background-color: @base_color;
}

.list-row:hover {
    background-color: @base_color;
}

.list-row:selected {
    color: @theme_selected_bg_color;
}

.list .button {
    background-color: inherit;
    color: @theme_text_color;
}

.list .button:hover {
    transition: 100ms ease-in;
    background-color: inherit;
    color: @theme_selected_bg_color;
}

EggListBox.content-view:hover,
.content-view.cell:hover {
	background-color: @theme_bg_color;
}

EggListBox.content-view:selected,
EggListBox.content-view:active,
.content-view.cell:selected,
.content-view.cell:active {
	background-color: @theme_selected_bg_color;
	background-image: none;
}
